#version: "3.9"
services:
  backend:
    build:
      context: ./backend
    container_name: credit-risk-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: credit-risk-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped